@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.transparentToolbar {
  background-color: transparent !important;
  color: #673AB7 !important;
}

#wallpaper {
  background: url('../../../assets/wallpaper.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title, .description {
  font-family: Josefin Sans, sans-serif;
}
.header {
  height: 50vh;
  color: #E3F2FD;
  .title {
    font-size: 5em;
    font-weight: 600;
    text-shadow: 2px 2px 10px black;
  }
}

.spacer {
  flex: 1 1 auto;
}
.mini-spacer {
  flex: 0.25 0.25 auto;
}
/*
 Main content canvas
 */
.main-dark {
  background: #424242;
  * {
    .title {
      color: #FFFFFF;
    }
    .description {
      color: lightgray;
    }
  }
}
.main-light {
  background: #FFFFFF;
  * {
    .title {
      color: #3C4858;
    }
    .description {
      color: #999999;
    }
  }
}
.main {
  position: relative;
  z-index: 3;
  justify-content: center;
  text-align: center;
  height: 72vh;
}
.main-raised {
  margin: -60px 60px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.24), 0 6px 30px 5px rgba(0, 0, 0, 0.32), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
